<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
          <h1>M.S. in System Design and Control Engineering</h1>
          <span>Ulsan National Institute of Science and Technology(UNIST)</span>
          <span><address>Ulsan, Korea</address><time>Sep 2013 to Aug 2017</time></span>
      </header>
      <p><em>Title of Thesis: In-Process Laser Welding Monitoring by Fusing the Uncertain Signal Information of Multi-Photodiode Sensors</em></p>
        <ul class="circle">
          <li>Worked with SEOYON E-HWA, RECTUSON and KIAT(PI)</li>
          <li>Surveyed on RSR noise characteristics of car door trim</li>
          <li>Identified key features from door trim noise</li>
          <li>Developed noise signal reference guide in frequency domain</li>
        </ul>
  </article>
  
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
