<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
          <h1>M.S. in System Design and Control Engineering</h1>
          <span>Ulsan National Institute of Science and Technology(UNIST)</span>
          <span><address>Ulsan, Korea</address><time>Sep 2013 to Aug 2017</time></span>
      </header>
      <p><em>Title of Thesis: In-Process Laser Welding Monitoring by Fusing the Uncertain Signal Information of Multi-Photodiode Sensors</em></p>
        <ul>
          <li>Research Interest: Self-resilient process control, Data(signal) analytics, and Machine learning</li>
          <li>Academic Performance Scholarship Recipient for every semester</li>
          <li>Identified key features from door trim noise</li>
          <li>Core Course: BCI(Brain-Computer Interaction), Advanced Machine Learning(고급기계학습), Advanced Multivariate Statistics and Data Mining(고등다변량기법과 데이터마이닝), Advanced Engineering System Design(고등공학디자인기법), Signals and Systems(공학 및 시스템디자인 특론 I), Optimization(공학 및 시스템디자인 특론 II), Root Cause Analysis (근본원인분석), Image Processing(영상처리)</li>
        </ul>
  </article>
  
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
