<section class="thirteen columns">
    <h1>PROFESSIONAL EXPERIENCE</h1>
    <article>
        <header>
            <h1>Researcher in Smart Factory Lab.</h1>
            <span>UNIST</span>
            <span><address>Ulsan, Korea</address><time>Aug 2015 to Mar 2016</time></span>
        </header>
        <p> <em>BSR noise detection from car door trims using composite sensing information of acoustic emission and vibration. </em></p>
        <ul class='circle'>
            <li>Worked with SEOYON E-HWA, RECTUSON and KIAT(PI)</li>
            <li>Surveyed on RSR noise characteristics of car door trim</li>
            <li>Identified key features from door trim noise</li>
            <li>Developed noise signal reference guide in frequency domain</li>
        </ul>
    </article>
    
    <article>
        <header>
            <h1>Researcher in Smart Factory Lab.</h1>
            <span>UNIST</span>
            <span><address>Ulsan, Korea</address><time>Aug 2013 to Feb 2015</time></span>
        </header>
        <p>Remote Laser Welding Process Control for Eco-Automotive Factories</p>
            <ul class='circle'>
                <li>Worked with PNU, SUNGWOO Hitech, ILSHIN Tech, SIS, and KIAT(PI).</li>
                <li>Managed the project as a staff in charge including research, related events, and schedule</li>
                <li>Conducted experiments on laser welding quality by varying the key characteristic indicators</li>
                <li>Developed an on-line weld fault detection algorithm based on the Dempster-Shafer theory</li>
                <li>Developed a sensor system for monitoring the remote laser welding</li>
                <li>Developed an integrated(C#-based) process monitoring software</li>
            </ul>
    </article>
    
    <article>
        <header>
            <h1>Researcher in Smart Factory Lab.</h1>
            <span>UNIST</span>
            <span><address>Ulsan, Korea</address><time>Aug 2013 to Aug 2015</time></span>
        </header>
        <p> <em>RLW Navigator: Remote Laser Welding System Navigator for Eco & Resilient Automotive Factories </em></p>
            <ul class='circle'>
                <li>The project funded by European Commission</li>
                <li>Worked with Univ. of Warwick(PI), EPFL, COMAU, PRECITEC, JAGUAR and LANDROVER, other 7 companies and research institutes</li>
                <li>Conducted over 800 coupon tests on laser welding quality for laser parameter adjustment system to compensate for output parameter deviation from required performance profile</li>
                <li>Developed Matlab-based weld defect detection software</li>
                <li>Attended annual review on the project: Budapest in Hungary (Nov 2013), London in U.K. (Mar 2014 and June 2015)</li>
                <li>Hosted consortium iRLW 2014 in Ulsan, Korea</li>
            </ul>
    </article>

    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span>UNIST</span>
            <span><address>Ulsan, Korea</address><time>Sep 2013 to Dec 2015</time></span>
        </header>
        <p> <em>Courses: System Control, Computational Tools for Engineers, Intro to Engineering System Design, Design IT, and Design for X(Introduction to PLM)  </em></p>
            <ul type="square">
                <li>Created lab session material and conducted lab sessions</li>
                <li>Graded quiz, term project, assignment and exam</li>
                <li>Guided over 220 students</li>
            </ul>
    </article>

    <article>
        <header>
            <h1>Research Intern</h1>
            <span>R&D center of Dong-AH Electric</span>
            <span><address>Hwaseong-si, Korea</address><time>Jan 2012 to Feb 2012</time></span>
        </header>
            <ul class='circle'>
                <li>Developed electric testing multi-jig for HVAC controller</li>
                <li>Evaluated and tested new HVAC controller prototypes</li>
            </ul>
    </article>
</section>
