<section class="thirteen columns">   
    <h1>PUBLICATIONS</h1>
    <article>
        <p>
            <ul class='circle'>
                <li><a href='https://github.com/org817/portfolio/blob/master/1.%20Publications/2015%20A%20Fault%20Detection%20Method%20of%20Laser%20Welding%20based%20on%20PDF%20Estimation%20and%20Dempster-Shafer%20Theory.pdf'><em>R. Oh</em>, K. Bae, & D. Kim; Text-based Industry Classification by Autoencoder, Proceedings of The Korean Finance Association, 2018, 1450-1468. </a></li>
                <li><em>R. Oh</em>, D. -Y. Kim, & D. Ceglarek; The Effects of Laser Welding Direction on Joint Quality for Non-Uniform Part-to-Part Gaps, Metals, 2016, 6(8), 184.</li>
                <li><em>R. Oh</em>, J. Park, & D. -Y. Kim; LaserWel: A Laser Welding Process Monitoring & Fault Classification System, Proceedings of the Society of CAD/CAM Conference, 2016, 934-937.</li>
                <li>S. J. Baek, <em>R. Oh</em>, & D. -Y. Kim; Defect Detection in Laser Welding Using Multidimensional Discretization and Event-Codification, Journal of the Korean Society for Precision Engineering, 2015, 32(11), 989-995.</li>
                <li><em>R. Oh</em>, & D.-Y. Kim; A Fault Detection Method of Laser Welding based on PDF Estimation and Dempster-Shafer Theory, Proceedings of the Society of CAD/CAM Conference, 2014, 1011-1016.</li>  
            </ul>
        </p>
    </article>
</section>
