<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Language</h1>
        </header>
        <ul class='circle'>
            <li>English(Fluent) and Korean(Native) </li>
        </ul>
      
        <header>
            <h1>Programming Skills</h1>
        </header>
      	<ul class='circle'>
          <li> Proficient in <em>Python(including Django, KERAS, and pandas)</em>, Database(SQL), MATLAB, &amp; Git </li>
          <li> Intermediate Knowledge in <em>SAS</em>, STATA, LabView,AWS</li>
          <li> Experience in JavaScript(Vue.js), HTML, &amp; CSS</li>
        </ul>
    </article>
</section>
