<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Language</h1>
        </header>
        <ul class='circle'>
            <li>English(Fluent) and Korean(Native) </li>
        </ul>
      
        <header>
            <h1>Programming Skills</h1>
        </header>
      	<ul class='circle'>
          <li> <em>Proficient in Python(including Django, KERAS, and pandas)</em>, Database(SQL), MATLAB, and Git </li>
          <li> <em>Intermediate Knowledge in SAS</em>, STATA, LabView, JavaScript(Vue.js), and AWS</li>
          <li> Experience in and HTML &amp; CSS</li>
        </ul>
    </article>
</section>
