<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Language</h1>
        </header>
        <p>
            &nbsp;&nbsp; English(Fluent) and Korean(Native) 
        </p>
      
        <header>
            <h1>Skills</h1>
        </header>
        <p> &nbsp;&nbsp; Proficient in <em>Python(including Django, KERAS, and pandas)</em>, Database(SQL), MATLAB, &amp; Git </p>
        <p> &nbsp;&nbsp; Intermediate Knowledge in <em>SAS</em>, STATA, LabView,AWS</p>
        <p> &nbsp;&nbsp; Experience in JavaScript(Vue.js), HTML, &amp; CSS</p>
    </article>
</section>
